{% load static %} 

<!-- footer-2 baş  -->
<footer class="container-fluid footer2-containerfluid d-none d-md-block">
    <div class="container-fluid footer2-container">
        <div class="row">
            <div class="col-4 mt-5">
                <img class="footer-icon mb-5" src="{% static './img/footer-logo.svg' %}" alt="">
                <h5 class="text-white mt-3 mb-3">Bizi Takip Edin</h5>
            
            <a href="" class="me-3  fs-4"> <i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
            <a href="" class="me-3  fs-4"> <i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
            <a href="" class="me-3  fs-4"> <i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a>
            <a href="" class="me-3  fs-4"> <i class="fa-solid fa-blog" style="color: #ffffff;"></i>
            <a href="" class="me-3  fs-4"> <i class="fa-brands fa-youtube" style="color: #ffffff;"></i></a>
            <a href="" class="me-3  fs-4"> <i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
            <a href="" class="me-3  fs-4"> <i class="fa-brands fa-spotify" style="color: #ffffff;"></i></a>
    
            <h5 class="text-white mt-3 mb-4 mt-5">Uygulamalarımız</h5>
            <img class="footer2-icon mb-5" src="{% static './img/app-store.svg' %}" alt="">
            <img class="footer2-icon mb-5" src="{% static './img/play-store.svg' %}" alt="">
            </div>
            <div class="col-8">
                <div class="row mt-5">
                    <div class="col-4">
                        <h5 class="mb-4 text-white mx-4"> Hakkımızda </h5>
                         <ul>
                             <li class="mt-3">
                                 <a  class="text-white" href="{% url 'biz-kimiz' %}">
                                     Biz Kimiz
                                    </a>
                             </li>
                             <li class="mt-3">
                                 <a class="text-white" href="{% url 'kurum-politikası' %}">
                                     Kurum Politikamız
                                    </a>
                             </li>
                             <li class="mt-3">
                                 <a class="text-white" href="{% url 'görsel-materyal' %}">
                                     Görsel Materyaller
                                    </a>
                             </li>
                             <li class="mt-3">
                                 <a class="text-white" href="{% url 'bize-ulas' %}">
                                     Bize Ulaşın
                                    </a>
                             </li>
                             <li class="mt-3">
                                 <a class="text-white" href="https://www.livenation.it/ ">
                                     Live Nation Entertainment
                                    </a>
                             </li>
                             </ul>
                    </div>
                    <div class="col-4">
                        <h5 class="mb-4 text-white mx-4">Yardım Edelim</h5>
                                <ul>
                                    <li class="mt-3">
                                        <a class="text-white" href="{% url 'yardim' %}">
                                            Yardım/SSS
                                        </a>
                                    </li>
                                    <li class="mt-3">
                                        <a class="text-white" href="{% url 'satis-kanallari' %}">
                                            Satış Kanalları
                                        </a>  
                                    </li>
                                    <li class="mt-3">
                                        <a class="text-white" href="{% url 'account' %}">
                                            Hesabım
                                        </a>
                                    </li>
                                    <li class="mt-3">
                                        <a class="text-white" href="{% url 'hediye-kart' %}">
                                            Hediye Kart
                                        </a>
                                    </li>
                                    <li class="mt-3">
                                        <a class="text-white" href="{% url 'etkinlik-katılım' %}">
                                            Etkinlik Katılım Sigortası
                                        </a>                            
                                    </li>
                                    
                                </ul>
                    </div>
                    <div class="col-4">
                        <h5 class="mb-4 text-white mx-4">Bizimle Çalışın</h5>
                        <ul>
                            <li class="mt-3">
                                <a class="text-white" href="{% url 'biz-kimiz' %}">
                                    Etkinlik Biletleriniz
                                </a>
                            </li>
                            <li class="mt-3">
                                <a class="text-white" href="{% url 'reklam-ver' %}">
                                    Reklam Verin
                                </a>
                            </li>
                            <li class="mt-3">
                                <a class="text-white" href="{% url 'biz-kimiz' %}">
                                    Affiliate Programı
                                </a>
                            </li>
                            <li class="mt-3">
                                <a class="text-white" href="{% url 'kariyer' %}">
                                    Kariyer
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr class=" footer2-hr ">
                <div class="col-6 ">
                    <a class="footer2-politikalar text-white px-2" href="{% url 'ttk-bildirim' %}">TTK Bildirimleri</a>
                    <a class="footer2-politikalar text-white px-2 pe-3" href="https://privacy.ticketmaster.com.tr/tr/privacy-policy ">Gizlilik Politikası</a>
                    <a class="footer2-politikalar text-white px-2 pe-3" href="https://privacy.ticketmaster.com.tr/tr/cookie-policy">Çerez Politikası</a>
                    <a class="footer2-politikalar text-white px-2 pe-3" href="#">Tercihleri Yönet</a>
                    <a class="footer2-politikalar2 text-white px-2 pe-3" href="{% url 'sözlesme-politika' %}">Sözleşme ve Politikalar</a>
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                    <p class="text-white">© 2022 Biletix Bilet Dağıtım Basım ve Tic. A.Ş. Tüm hakları saklıdır.</p>
                </div>
                <p class="text-white text-center mt-3">Bu internet sitesinin kullanımı, ticari kullanımı engelleyen Kullanım Koşulları'na tabidir. Bu sayfayı geçtiğinizde bu koşulları kabul etmiş sayılırsınız.</p>
            </div>
        </div>
    </div>
</footer>
<!-- !Dropdown -->
<footer class="container-fluid footer2-dropdown">
    <div class="row">
        <div class="col-4 mt-5">
            <img class="footer-icon " src="{% static './img/footer-logo.svg' %}" alt="">
            <h5 class="text-white mt-5 mb-3">Bizi Takip Edin</h5>
        
        <a href="" class="me-3  fs-4"> <i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
        <a href="" class="me-3  fs-4"> <i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
        <a href="" class="me-3  fs-4"> <i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a>
        <a href="" class="me-3  fs-4"> <i class="fa-solid fa-blog" style="color: #ffffff;"></i>
        <a href="" class="me-3  fs-4"> <i class="fa-brands fa-youtube" style="color: #ffffff;"></i></a>
        <a href="" class="me-3  fs-4"> <i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
        <a href="" class="me-3  fs-4"> <i class="fa-brands fa-spotify" style="color: #ffffff;"></i></a>

        <h5 class="text-white mt-3 mb-4 mt-5">Uygulamalarımız</h5>
        <img class="footer-icon mb-5" src="{% static './img/app-store.svg' %}" alt="">
        <img class="footer-icon mb-5" src="{% static 'img/play-store.svg' %}" alt="">
        </div>
        <div class="col-8 mt-5">
            <div class="row">
                <div class="col-4">
                    <div class="dropdown">
                        <button class="btn bg-transparent text-white dropdown-toggle border-bottom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hakkımızda
                        </button>
                        <ul class="dropdown-menu bg-transparent border-0">
                        <li><a class="dropdown-item text-white" href="#">Biz Kimiz</a></li>
                        <li><a class="dropdown-item text-white" href="#">Kurum Politikamız</a></li>
                        <li><a class="dropdown-item text-white" href="#">Görsel Materyaller</a></li>
                        <li><a class="dropdown-item text-white" href="#">Bize Ulaşın</a></li>
                        <li><a class="dropdown-item text-white" href="#">Live Nation Entertainment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-4">
                    <div class="dropdown">
                        <button class="btn bg-transparent text-white dropdown-toggle border-bottom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Yardım Edelim
                        </button>
                        <ul class="dropdown-menu bg-transparent border-0">
                        <li><a class="dropdown-item text-white" href="#">Yardım/SSS</a></li>
                        <li><a class="dropdown-item text-white" href="#">Satış Kanalları</a></li>
                        <li><a class="dropdown-item text-white" href="#">Hesabım</a></li>
                        <li><a class="dropdown-item text-white" href="#">Hediye Kart</a></li>
                        <li><a class="dropdown-item text-white" href="#">Etkinlik Katılım Sigortası</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-4">
                    <div class="dropdown">
                        <button class="btn bg-transparent text-white dropdown-toggle border-bottom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Bizimle Çalışın
                        </button>
                        <ul class="dropdown-menu bg-transparent border-0">
                        <li><a class="dropdown-item text-white" href="#">Etkinlik Biletlerimiz</a></li>
                        <li><a class="dropdown-item text-white" href="#">Reklam Verin</a></li>
                        <li><a class="dropdown-item text-white" href="#">Hesabım</a></li>
                        <li><a class="dropdown-item text-white" href="#">Affiliate Programı</a></li>
                        <li><a class="dropdown-item text-white" href="#">Kariyer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion accordion-flush border-bottom" id="accordionFlushExample">

        <div class="accordion-item bg-transparent border-white mt-2">
        <h2 class="accordion-header text-white">
            <button class="accordion-button bg-transparent collapsed border-white shadow-none text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Politikalar & Bildirimler
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <li>
                        <a class="text-white text-decoration-none " href="">TTK Bildirimler</a>
                    </li>
                    <li>
                        <a class="text-white text-decoration-none " href="">Gizlilik Politikası</a>
                    </li>
                    <li>
                        <a class="text-white text-decoration-none " href="">Çerez Politikası</a>
                    </li>
                    <li>
                        <a class="text-white text-decoration-none " href="">Tercihleri Yönet</a>
                    </li>
                    <li>
                        <a class="text-white text-decoration-none " href="">Sözleşme ve Politikalar</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <p class="text-white text-center mt-3">© 2022 Biletix Bilet Dağıtım Basım ve Tic. A.Ş. Tüm hakları saklıdır.</p>
    <p class="text-white text-center mt-3">Bu internet sitesinin kullanımı, ticari kullanımı engelleyen Kullanım Koşulları'na tabidir. Bu sayfayı geçtiğinizde bu koşulları kabul etmiş sayılırsınız.</p>
</footer>
<!-- ! ACCORDİON -->
<footer class="container-fluid footer2-accordion">

    <div class="col-12">
        <img class="footer-icon w-25 mt-4 mb-3" src="{% static './img/footer-logo.svg' %}" alt="">
        <h5 class="text-white mt-4 mb-3">Bizi Takip Edin</h5>
    
    <a href="" class="me-3  fs-4"> <i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
    <a href="" class="me-3  fs-4"> <i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
    <a href="" class="me-3  fs-4"> <i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a>
    <a href="" class="me-3  fs-4"> <i class="fa-solid fa-blog" style="color: #ffffff;"></i>
    <a href="" class="me-3  fs-4"> <i class="fa-brands fa-youtube" style="color: #ffffff;"></i></a>
    <a href="" class="me-3  fs-4"> <i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
    <a href="" class="me-3  fs-4"> <i class="fa-brands fa-spotify" style="color: #ffffff;"></i></a>

    <h5 class="text-white mt-3 mb-4 mt-5">Uygulamalarımız</h5>
    <img class=" mb-3" src="{% static './img/app-store.svg' %}" alt="">
    <img class=" mb-3" src="{% static './img/play-store.svg' %}" alt="">
    </div>


    <div class="accordion accordion-flush" id="accordionFlushExample">

        <div class="accordion-item bg-transparent border-white mt-2">
        <h2 class="accordion-header">
            <button class="accordion-button bg-transparent collapsed shadow-none text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Hakkımızda
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
    
                <ul>
                    <li>
                        <a  class="text-white" href="">
                            Biz Kimiz
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="">
                            Kurum Politikamız
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="">
                            Görsel Materyaller
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="">
                            Bize Ulaşın
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="">
                            Live Nation Entertainment
                        </a>
                    </li>
                    </ul>
    
            </div>
        </div>
        </div>

        <div class="accordion-item bg-transparent border-white mt-2">
        <h2 class="accordion-header">
            <button class="accordion-button bg-transparent collapsed shadow-none bg-white text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo " aria-expanded="false" aria-controls="flush-collapseTwo">
                Yardım Edelim
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
    
                <ul>
                    <li >
                        <a class="text-white" href="">
                            Yardım/SSS
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="">
                            Satış Kanalları
                        </a>  
                    </li>
                    <li>
                        <a class="text-white" href="">
                            Hesabım
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="">
                            Hediye Kart
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="">
                            Etkinlik Katılım Sigortası
                        </a>                            
                    </li>
                    
                </ul>
    
            </div>
        </div>
        </div>

        <div class="accordion-item bg-transparent border-white mt-2">
        <h2 class="accordion-header">
            <button class="accordion-button bg-transparent collapsed shadow-none text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Bizimle Çalışın
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <li>
                        <a class="text-white" href="">
                            Etkinlik Biletleriniz
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="">
                            Reklam Verin
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="">
                            Affiliate Programı
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="">
                            Kariyer
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        </div>
    
        <div class="accordion-item bg-transparent border-white mt-2">
            <h2 class="accordion-header">
            <button class="accordion-button bg-transparent collapsed shadow-none text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                Politikalar & Bildirimler
            </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <li>
                        <a class="text-white" href="">
                            TTK Bildirimleri
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="">
                            Gizlilik Politikası
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="">
                            Çerez Politikası
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="">
                            Tercihleri Yönet
                        </a>
                    </li>
                    <li>
                    <a class="text-white" href="">
                        Sözleşme ve Politiklar
                    </a>
                </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <p class="text-white text-center">© 2022 Biletix Bilet Dağıtım Basım ve Tic. A.Ş. Tüm hakları saklıdır.</p>
    <p class="text-white text-center mt-3 pb-3">Bu internet sitesinin kullanımı, ticari kullanımı engelleyen Kullanım Koşulları'na tabidir. Bu sayfayı geçtiğinizde bu koşulları kabul etmiş sayılırsınız.</p>
</footer>
<!-- footer-2 bitiş  -->