{% load static %}
<!-- model  box -->
<div
  class="modal fade"
  id="giris-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close position-absolute top-0 end-0 m-3"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
      <img src="{% static './img/bkmyaz290823.png' %}" class="img-fluid" alt="Resim" />
    </div>
  </div>
</div>
<script>
  //modal box
  document.addEventListener("DOMContentLoaded", function () {
    var girismodalim = new bootstrap.Modal(
      document.getElementById("giris-modal")
    );
    girismodalim.show();
  });
</script>
