{% extends "index.html" %} 
{% load static %} 
{% block content %} 
{% include 'includes/_navbar-main.html' %}
<!-- !REKLAM VERİN START -->
<section class="reklam-content content m-auto">
  <div class="section-one">
    <img class="d-flex m-auto w-80 pt-4" src="{% static './img/img1.png' %}" alt="" />
  </div>

  <div class="row w-100">
    <div class="reklam-left-side col-6 m-auto mt-4 pt-4 text-center">
      <ul>
        <li>
          Biletix, Türkiye'de müzik, sahne, spor, eğitim gibi pek çok alanda
        </li>
        <li>yapılan binlerce etkinliğin yer aldığı en büyük e-ticaret</li>
        <li>sitelerinden biridir.</li>
      </ul>
      <div class="pt-3">
        <ul>
          <li>
            Dijital reklam kampanyalarınızı, ayda 30 milyondan fazla sayfa
          </li>
          <li>görüntülenmeye sahip biletix.com'da yayınlayın.</li>
        </ul>
      </div>
      <div class="pt-3">
        <ul>
          <li>Biletix.com'da ve diğer reklam alanlarımızda reklam vererek</li>
          <li>
            değerli bir kitleye ulaşmak için: <a href="">reklam@biletix.com</a>
          </li>
        </ul>
      </div>
      <div class="pt-3">
        <ul>
          <li>
            Reklam alanları, etkinlikler dışında kalan ürün ve hizmetlerin
          </li>
          <li>
            tanıtımı için kullanılmaktadır. Etkinliklerinizi Biletix
            Ticketmaster
          </li>
          <li>
            Türkiye satış kanallarını kullanarak satmak istiyorsanız
            <a href="https://business.ticketmaster.com.tr/contact/">tıklayın</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="right-side col-6 m-auto mt-4 pt-4 p-4">
      <ul class="liste">
        <li>2003 - Altın Örümcek - En İyi B2C Sitesi</li>
        <li>2005 - Altın Örümcek - E-Ticaret 2.si</li>
        <li>2005 - Altın Örümcek - Servisler 2.si</li>
        <li>2006 - Altın Örümcek - E-Ticaret 2.si</li>
        <li>2006 - Altın Örümcek - Servisler 1.si</li>
        <li>2007 - Altın Örümcek - E-Ticaret 1.si</li>
        <li>2008 - Altın Örümcek - Servisler 1.si</li>
        <li>2010 - Altın Örümcek - E-ticaret (Servisler) 1.si</li>
        <li>2011 - Altın Örümcek - E-ticaret (Servisler) 2.si</li>
        <li>2017 - Altın Örümcek - Hizmet Kategorisi – Web Sitesi 1.si</li>
        <li>
          2019 - Social Media Awards - Social Brands Veri Analitiği Kültür ve
          Sanat Kategorisi 2.si
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- !REKLAM VERİN END -->
{% include 'includes/_footer-main.html' %} 
{% endblock content %}
