{% extends "index.html" %} 
{% load static%} 
{% block content %}
{% include 'includes/_navbar-main.html' %}


<!-- !MAİN -->
<div class="container-fluid main m-0 p-0">
  <div class="container-lg bg-light p-0 p-md-5">
    <!-- !ETKİNLİK-LİSTE-DETAY-BAŞLANGIÇ -->
    <div class="container-fluid">
      <div class="container-lg m-auto">
        <!-- Kaybolan Div -->
        <div class="gecicidiv"></div>

        <!-- Kapsayıcı -->
        <div class="etk-list-det-container bg-white">
          <div class="scriptgenel">
            <div class="scriptconta">
              <div class="row ms-2">
                <div class="col-3">Tarih Aralığı Seç</div>
                <div class="col-3">Bölge</div>
                <div class="col-3">Kategoriler</div>
                <div class="col-3">Mekan</div>
              </div>
            </div>
            <div class="scriptconta2">
              <div class="row">
                <div class="eldc1 col-3">
                  <table class="m-3">
                    <tr>
                      <td class="pe-3 pb-2">Başlangıç</td>
                      <td><input type="date" name="" id="" /></td>
                    </tr>
                    <tr>
                      <td>Bitiş</td>
                      <td><input type="date" name="" id="" /></td>
                    </tr>
                  </table>
                  <div class="btnaraara ps-5 ms-5 mt-2">
                    <button
                      class="bg-primary"
                      style="
                        width: 85px;
                        color: #ffffff;
                        border: none;
                        height: 20px;
                      "
                    >
                      ARA
                    </button>
                  </div>
                  <div class="eld-bottom">
                    <a href="" class="fw-bold text-dark text-decoration-none"
                      >Seçimi Sıfırla</a
                    >
                  </div>
                </div>
                <div class="eldc1 col-3">
                  <ul class="mt-2">
                    <li>
                      <a class="eld-a" href="">İstanbul / Marmara </a
                      ><span class="span1">(62)</span>
                    </li>
                    <li>
                      <a class="eld-a" href="">İzmir / Ege </a
                      ><span class="span1">(62)</span>
                    </li>
                    <li>
                      <a class="eld-a" href="">Ankara / İç Anadolu</a>
                      <span class="span1">(62)</span>
                    </li>
                    <li>
                      <a class="eld-a" href="">Antalya / Akdeniz </a
                      ><span class="span1">(62)</span>
                    </li>
                    <li>
                      <a class="eld-a" href="">Diğer </a
                      ><span class="span1">(62)</span>
                    </li>
                  </ul>
                </div>
                <div class="eldc1 col-3">
                  <strong>Müzik</strong> <br />
                  <ul>
                    <li class="ms-2">
                      <a class="eld-a" href="">Rock </a
                      ><span class="span1">(62)</span>
                    </li>
                  </ul>
                </div>
                <div class="col-3" style="height: 200px; overflow-y: scroll">
                  <ul>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                    <li class="ms-2">
                      <a class="eld-a" href="">Bursa Açık Hava Tiyatrosu</a
                      ><span class="span1">(7)</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <p class="etk-list-det-p fw-bold ps-4 ms-2 pt-1">
            100'den fazla sonuç bulundu.
          </p>
          <!-- Yatay Renkli Çizgi -->
          <div class="etk-list-det-content">
            <div class="etk-list-det-cont-text fw-bold ms-4 mt-1 ps-3 fs-6">
              Tüm Türkiye
            </div>
            <div
              id="sonuc"
              class="etk-list-det-con-devami pe-2 d-flex align-items-center"
            >
              <a href="#"><img class="img1" src="./img/sonuc.png" alt="" /></a>
              <a href="#"
                ><img class="img1none" src="./img/sonuc2.png" alt=""
              /></a>
            </div>
          </div>
          <!-- Yatay Renkli Çizgi -->
          <div class="etk-list-det-content2">
            <div class="row ms-4 pt-1 fs-6">
              <div class="col-8">
                <a
                  class="elda1 text-decoration-none m-3 ms-3"
                  style="color: #2d4791"
                  href=""
                  >Etkinlik<i
                    class="fa-solid fa-chevron-down ms-1"
                    style="color: #2d4791"
                  ></i
                ></a>
              </div>
              <div class="col-2">
                <a
                  class="elda1 text-decoration-none ms-3"
                  style="color: #2d4791"
                  href=""
                  >Mekan
                  <i
                    class="fa-solid fa-chevron-down ms-1"
                    style="color: #2d4791"
                  ></i
                ></a>
              </div>
              <div class="col-2">
                <a
                  class="elda1 text-decoration-none ms-4"
                  style="color: #2d4791"
                  href=""
                  >Tarih
                  <i
                    class="fa-solid fa-chevron-down ms-1"
                    style="color: #2d4791"
                  ></i
                ></a>
              </div>
            </div>
          </div>

          <!-- 1.Resim -->

          <div class="etk-list-det-container-2 row">
            {% for i in etkinlik %} 
            <div class="col-3">
              <a href="{% url 'etkinlik-detay' i.slug %}">
                <img class="img2" src="{{i.etkinlik_resim_profil.url}}" alt="" />
              </a>
            </div>
            <div class="col-5 mt-3">
              <a href="{% url 'etkinlik-detay' i.slug %}" class="text-decoration-none text-dark">
                <b>{{i.isim}}</b>
              </a>
              <br />
              {% if i.stok %}
              <b class="text-primary">Satışta</b>
              {% else %}
              <b class="disabled" style="color: gray;">Tükendi</b>
              {% endif %}
            </div>
            <div class="col-2 mt-3">
              <a class="etk-list-det-a-1 text-dark text-decoration-none text-center fw-bold" 
              href="{% url 'mekan' i.etkinlik_mekan.all.0.slug %}">{{ i.etkinlik_mekan.all.0.isim }}</a>
              <br>
              <b>{{ i.etkinlik_mekan.all.0.sehir }}</b>
            </div>
            <div class="col-2 mt-3">
              <a class="text-dark text-decoration-none" href="">
                {{ i.etkinlik_tarihi|date:"d-m-Y" }}
                </a
              >
            </div>
            {% endfor %}

          </div>
          <hr class="etk-list-det-hr" />
        </div>

      </div>
    </div>
    <!-- !ETKİNLİK-LİSTE-DETAY-SON -->
  </div>
</div>

{% endblock content %}
