{% extends "index.html" %} 
{% load static %} 
{% block content %} 
{% include 'includes/_navbar-main.html' %}
<!-- !GÖRSEL-MATERYAL-START -->
<div class="materyal-content">
      <div class="container-fluid w-50">
        <div class="materyal-title">
          <h2 class="overflow-hidden">Marka Kılavuzu</h2>
          <p class="materyal-published-date">Mayıs 23,2023</p>
          <img
            class="materyal-marka"
            width="100%"
            src="{% static './img/marka_kılavuzu.webp' %}"
            alt=""
          />
        </div>
        <div class="materyal-entry-content">
          <h2 class="wp-block-heading overflow-hidden">İçindekiler</h2>
          <figure class="wp-block-image size-full pt-3">
            <img width="100%" src="{% static './img/rehber.webp' %}" alt="" />
          </figure>
          <figure class="wp-block-image size-full">
            <a
              href="https://www.biletix.com/static/docs/Biletix_Ticketmaster_Turkiye-Gorsel_Materyal_Rehberi.pdf"
              ><img width="100%" src="{% static './img/materyal_rehberi.webp' %}" alt=""
            /></a>
          </figure>

          <h2 class="wp-block-heading overflow-hidden pt-5">Logolar</h2>
          <h5
            class="has-medium-font-size wp-block-heading overflow-hidden pt-3 fw-bolder"
          >
            1. Afiş ve Etkinlik Görsellerinde Kullanım
          </h5>

          <figure class="wp-block-image size-full is-resized">
            <img width="100%" src="{% static './img/biletix_logo.webp' %}" alt="" />
          </figure>
          <p class="has-text-color has-small-font-size" style="color: #026cdf">
            Tüm logoları indirmek için:
          </p>
          <p class="has-text-color has-small-font-size" style="color: #026cdf">
            <strong>JPG:</strong>
            <strong>
              <a
                class="text-decoration-none"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Afis_ve_Etkinlik_Gorsellerinde_Kullanim/JPEG/Biletix_logo-afis_ve_etkinlik-02.jpg"
                target="_blank"
                >1</a
              >
              |
              <a
                class="text-decoration-none"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Afis_ve_Etkinlik_Gorsellerinde_Kullanim/JPEG/Biletix_logo-afis_ve_etkinlik-03.jpg"
                target="_blank"
                >2</a
              >
              |
              <a
                class="text-decoration-none"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Afis_ve_Etkinlik_Gorsellerinde_Kullanim/JPEG/Biletix_logo-afis_ve_etkinlik-01.jpg"
                target="_blank"
                >3</a
              >
              |
              <a
                class="text-decoration-none"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Afis_ve_Etkinlik_Gorsellerinde_Kullanim/JPEG/Biletix_logo-afis_ve_etkinlik-04.jpg"
                target="_blank"
                >4</a
              >
              |
            </strong>
          </p>
          <p class="has-text-color has-small-font-size" style="color: #026cdf">
            <strong> PNG:</strong>
            <strong>
              <a
                class="text-decoration-none"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Afis_ve_Etkinlik_Gorsellerinde_Kullanim/PNG/Biletix_logo-afis_ve_etkinlik-02.png"
                target="_blank"
                >1</a
              >
              |
              <a
                class="text-decoration-none"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Afis_ve_Etkinlik_Gorsellerinde_Kullanim/PNG/Biletix_logo-afis_ve_etkinlik-03.png"
                target="_blank"
                >2</a
              >
              |
              <a
                class="text-decoration-none"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Afis_ve_Etkinlik_Gorsellerinde_Kullanim/PNG/Biletix_logo-afis_ve_etkinlik-01.png"
                target="_blank"
                >3</a
              >
              |
              <a
                class="text-decoration-none"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Afis_ve_Etkinlik_Gorsellerinde_Kullanim/PNG/Biletix_logo-afis_ve_etkinlik-04.png"
                target="_blank"
                >4</a
              >
              |
            </strong>
          </p>
          <p class="has-text-color has-small-font-size" style="color: #026cdf">
            <strong>AI:</strong>
            <strong>
              <a
                class="text-decoration-none"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Afis_ve_Etkinlik_Gorsellerinde_Kullanim/Biletix_logo-afis_ve_etkinlik.ai"
                target="_blank"
                >1</a
              >
            </strong>
          </p>
          <p></p>
          <h6 class="has-small-font-size wp-block-heading overflow-hidden">
            Doğru ve Yanlış Kullanımı
          </h6>
          <figure class="wp-block-image size-full">
            <img width="100%" src="{% static './img/oran_arka_plan.webp' %}" alt="" />
          </figure>
          <h5
            class="has-medium-font-size wp-block-heading overflow-hidden pt-3 fw-bolder"
          >
            2. Standart Logo
          </h5>

          <figure class="wp-block-image size-full is-resized">
            <img width="100%" src="{% static './img/standartlogo.webp' %}" alt="" />
          </figure>
          <p class="has-text-color has-small-font-size" style="color: #026cdf">
            Standart mavi logoyu indirmek için:
          </p>
          <p class="has-text-color has-small-font-size" style="color: #026cdf">
            <strong>JPG:</strong>
            <strong>
              <a
                class="text-decoration-none"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Afis_ve_Etkinlik_Gorsellerinde_Kullanim/JPEG/Biletix_logo-afis_ve_etkinlik-02.jpg"
                target="_blank"
                >1</a
              >
            </strong>
          </p>
          <p class="has-text-color has-small-font-size" style="color: #026cdf">
            <strong>PNG:</strong>
            <strong>
              <a
                class="text-decoration-none"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Afis_ve_Etkinlik_Gorsellerinde_Kullanim/PNG/Biletix_logo-afis_ve_etkinlik-02.png"
                target="_blank"
                >1</a
              >
            </strong>
          </p>
          <p class="has-text-color has-small-font-size" style="color: #026cdf">
            <strong class="fw-bold">AI:</strong>
            <strong>
              <a
                class="text-decoration-none fw-bold"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Standart_Logo/Biletix_standart_logo1.ai"
                target="_blank"
                >1</a
              >
            </strong>
          </p>

          <p
            class="has-text-color has-small-font-size fw-normal"
            style="color: #026cdf"
          >
            Siyah & beyaz logoları indirmek için:
          </p>
          <p class="has-text-color has-small-font-size" style="color: #026cdf">
            <strong class="fw-bold">JPG:</strong>
            <strong>
              <a
                class="text-decoration-none fw-bold"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Black_&_White_Logo/JPEG/Biletix_logo_black_&_white_logo-02.jpg"
                target="_blank"
                >1</a
              >
              |
              <a
                class="text-decoration-none fw-bold"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Black_&_White_Logo/JPEG/Biletix_logo_black_&_white_logo-01.jpg"
                target="_blank"
                >2</a
              >
            </strong>
          </p>
          <p class="has-text-color has-small-font-size" style="color: #026cdf">
            <strong class="fw-bold">PNG:</strong>
            <strong>
              <a
                class="text-decoration-none fw-bold"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Black_&_White_Logo/PNG/Biletix_logo_black_&_white_logo-02.png"
                target="_blank"
                >1</a
              >

              |
              <a
                class="text-decoration-none fw-bold"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Black_&_White_Logo/PNG/Biletix_logo_black_&_white_logo-01.png"
                target="_blank"
                >2</a
              >
            </strong>
          </p>
          <p class="has-text-color has-small-font-size" style="color: #026cdf">
            <strong class="fw-bold">AI:</strong>
            <strong>
              <a
                class="text-decoration-none fw-bold"
                href="https://www.biletix.com/static/docs/Biletix_Logo/Black_&_White_Logo/Biletix_logo_black_&_white_logo.ai"
                target="_blank"
                >1</a
              >
            </strong>
          </p>

          <h6 class="has-small-font-size wp-block-heading overflow-hidden">
            Doğru ve Yanlış Kullanımı
          </h6>
          <figure class="wp-block-image size-full">
            <img width="100%" src="{% static './img/rehber2.webp' %}" alt="" />
          </figure>

          <h5
            class="has-medium-font-size wp-block-heading overflow-hidden pt-3 fw-bolder"
          >
            3.Boşluklar & Minimum Ölçü Kullanımı
          </h5>
          <figure class="wp-block-image size-full is-resized">
            <img width="100%" src="{% static './img/ölçü.webp' %}" alt="" />
          </figure>

          <h2 class="wp-block-heading overflow-hidden pt-4">Renk Paleti</h2>
          <figure class="wp-block-image size-full is-resized pt-3">
            <img width="100%" src="{% static './img/renk1.webp' %}" alt="" />
          </figure>

          <h5
            class="has-medium-font-size wp-block-heading overflow-hidden pt-3 fw-bolder"
          >
            1.Soğuk ve Nötr Griler
          </h5>
          <figure class="wp-block-image size-full is-resized pt-1">
            <img width="100%" src="{% static './img/gri.webp' %}" alt="" />
          </figure>
          <h5
            class="has-medium-font-size wp-block-heading overflow-hidden pt-3 fw-bolder"
          >
            2.Vurgu Renkleri
          </h5>
          <figure class="wp-block-image size-full is-resized pt-1">
            <img width="100%" src="{% static './img/vurgu_renkleri.webp' %}" alt="" />
          </figure>

          <h5
            class="has-medium-font-size wp-block-heading overflow-hidden pt-3 fw-bolder"
          >
            3.Gradyan
          </h5>
          <figure class="wp-block-image size-full is-resized pt-1">
            <img width="100%" src="{% static './img/gradyan.webp' %}" alt="" />
          </figure>

          <h2 class="wp-block-heading overflow-hidden pt-4">Tipografi</h2>
          <h5
            class="has-medium-font-size wp-block-heading overflow-hidden pt-3 fw-bolder"
          >
            1.Font
          </h5>
          <figure class="wp-block-image size-full is-resized pt-3">
            <img width="100%" src="{% static './img/font.webp' %}" alt="" />
          </figure>

          <div class="social">
            <ul class="d-flex gap-2">
              <li>
                <a
                  href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbusiness.ticketmaster.com.tr%2Fisletme-cozumleri%2Fbiletix-marka-kilavuzu%2F"
                >
                  <img class="w-100" src="{% static './img/facebook.webp' %}" alt="facebook" />
                </a>
              </li>
              <li>
                <a
                  href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fbusiness.ticketmaster.com.tr%2Fisletme-cozumleri%2Fbiletix-marka-kilavuzu%2F"
                >
                  <img class="w-100" src="{% static './img/twitter.webp' %}" alt="twitter" />
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fbusiness.ticketmaster.com.tr%2Fisletme-cozumleri%2Fbiletix-marka-kilavuzu%2F"
                >
                  <img class="w-100" src="{% static './img/linkedln.webp' %}" alt="linkedln" />
                </a>
              </li>
              <li>
                <a
                  href="https://api.whatsapp.com/send?text=https%3A%2F%2Fbusiness.ticketmaster.com.tr%2Fisletme-cozumleri%2Fbiletix-marka-kilavuzu%2F"
                >
                  <img class="w-100" src="{% static './img/wp.webp' %}" alt="whatsapp" />
                </a>
              </li>
              <li>
                <a
                  href="mailto:?body=https://business.ticketmaster.com.tr/isletme-cozumleri/biletix-marka-kilavuzu/"
                >
                  <img class="w-100" src="{% static './img/message.webp' %}" alt="message" />
                </a>
              </li>
              <li>
                <a
                  href="https://business.ticketmaster.com.tr/isletme-cozumleri/biletix-marka-kilavuzu/"
                >
                  <img
                    class="w-100"
                    src="{% static './img/social_copy.webp' %}"
                    alt="social_copy"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
</div>
<!-- !GÖRSEL-MATERYAL-END -->
{% include 'includes/_footer-main.html' %} 
{% endblock content %}